---
layout: default
---

          </div>	

          <div class="grid_12 top-1">

          	<div class="box-shadow">
            	<div class="wrap block-2">
		<!-- NEWS -->
                    <div class="col-1">
                    	<h2 class="p3"><span class="color-1">Agenda</span></h2>
			<table style=>
		        {% for event in site.data.events %}
			<tr>
			  <td class="color-1">
			  {% if event.a and event.a != "" and event.a != nil  %}
                          {{ event.date }} - {{ event.a }}
			  {% else %}
			  {{ event.date }}
			  {% endif %}
			  &nbsp;&nbsp;
			  </td>
			  <td><strong>{{ event.quoi }}</strong></td>
			</tr>
			<tr>
			  <td>{{ event.heure }}</td>
			  <td>{{ event.lieu }}</td>
			</tr>
		<tr><td>&nbsp;</td></tr>
			{% endfor %}
			</table>
                    </div>
		    {% include events.html %}
                </div>
            </div>
