    <header>
        <h1><a href="{{ site.baseurl }}/index.html">Judo Club<strong>Broye</strong></a></h1>
        <nav>
        	<div class="social-icons">
		<img src="{{site.baseurl}}/images/jcb.png" width="100px"/>
            </div>
            <ul class="menu">
                <li><a href="{{ site.baseurl }}/judo/index.html">Judo</a></li>
                <li><a href="{{ site.baseurl }}/contacts.html">Club</a></li>
                <li><a href="{{ site.baseurl }}/trainings.html">Entraînements</a></li>
                <li><a href="{{ site.baseurl }}/timetable.html">Agenda</a></li>
                <li><a href="{{ site.baseurl }}/posts.html">News</a></li>
            </ul>
        </nav>
    </header>   
