    <header>
        <h1><a href="index.html">Fitness <strong>Club.</strong></a></h1>
        <nav>
        	<div class="social-icons">
            	<a href="#" class="icon-2"></a>
            	<a href="#" class="icon-1"></a>
            </div>
            <ul class="menu">
                <li class="current"><a href="index.html">About</a></li>
                <li><a href="trainings.html">Trainings</a></li>
                <li><a href="timetable.html">Timetable</a></li>
                <li><a href="nutrition.html">Nutrition</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </nav>
    </header>   
