<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="main">
      <div class="bg-img"></div>
      {% include header.html %}
    
      <section id="content">
        <div class="container_12">
          <div class="grid_12">
	  {% if page.slider %}
            <div class="slider">
              <ul class="items">
                 <li><img src="images/slider-1.jpg" alt="">
                    <div class="banner">
                        <p class="font-1">Nos<span style="color:white;"> cours</span></p>
                        <p class="font-2">Le mardi, le mercredi et le vendredi, venez fouler le tatami et vous entraîner!</p>
                        <a href="trainings.html">Plus d'information ici</a>
                    </div>
                </li>
                <li><img src="images/slider-2.jpg" alt="">
                    <div class="banner">
                        <p class="font-1">Dernières<span style="color:white;"> nouvelles</span></p>
                        <p class="font-2">La vie du judo club racontée par ses membres</p>
                        <a href="posts.html">Plus d'information ici</a>
                    </div>
                </li>
                <li><img src="images/slider-3.jpg" alt="">
                    <div class="banner">
                        <p class="font-1">Infos<span style="color:white;">pratiques</span></p>
                        <p class="font-2">Notre Dojo se trouve à Corcelles-près-Payerne, route de la Freybonnaz 3...</p>
                        <a href="contacts.html">Plus d'informations ici</a>
                    </div>
                </li>
              </ul>
              <div class="pagination">
                  <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                  </ul>
              </div>  
            </div>
		    {%endif%}
          </div>	

          <div class="grid_12 top-1">

          	<div class="box-shadow">
            	<div class="wrap block-2">
		<!-- NEWS -->
            {{ content }}
		    {% if page.event  %}
		    {% include events.html %}
		    {% endif %}
                </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </section> 
    
      {% include footer.html %}
    </div>    

    <script>
      Cufon.now();
    </script>

  </body>
</html>
