---
layout: default
---
          </div>	

          <div class="grid_12 top-1">

          	<div class="box-shadow">
            	<div class="wrap block-2">
		<!-- NEWS -->
                    <div class="col-1">
<div class="post">

  <header class="post-header">
    <h2 class="p3">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <center>     <img src="{{site.baseurl}}/{{ page.image }}" alt="" width="50%" align="center"> </center>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
</div>
		    {% include events.html %}
                </div>
            </div>
